@page
@model IndexModel
@{
    ViewData["Title"] = "Home pathdfkytfkytf";
}

<div class="text-center">
    <h1 class="display-4">i might have broken everything</h1>
    <p>The time on the server is @DateTime.Now</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
