@page
@model Index Model
@{
    ViewData["Title"] = "Home pathdfkytfkytf";
}

<div class="text-center">
    <h1 class="display-4">hello world! This is super cool! Oh my goodness. this is a test!</h1>
    <p>The time on the server is @DateTime.Now</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
