@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Please visit our website at your own risk. We intend to collect all of your personal data and sell it to facebook for profit. Don't worry, we have your social security number 😉. Take care!</p>
